@*@model IEnumerable<PhimHang.Models.RecommendStock>*@
@{
    ViewBag.Title = "Công cụ phân tích chứng khoán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PhimHang.Models.DIV>
@using PagedList.Mvc;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
<link href="~/css/tableStyle.css" rel="stylesheet" />
<style>
    .default-center-menu-left .clear-left ul li:first-child {
        background-color: #E17C10;
    }
</style>
<div style="margin-bottom:25px">
    <table class="tg">
        <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Mã CP</th>
            <th rowspan="2">Giá</th>
            <th  colspan="5">Lịch sử cổ tức</th>
            <th  colspan="3">Tỷ suất sinh lời</th>
            <th  colspan="2">Tiến độ thực hiện</th>
            <th rowspan="2" >Chi chú (thực hiện quyền)</th>           
        </tr>
        <tr class="MergeTable">
            @*<th></th>
            <th><b></b></th>
            <th></th>*@
            @*Lịch sử cổ tức*@
            <th title="Cổ tức năm 2010">2010</th>
            <th>2011</th>
            <th>2012</th>
            <th>2013</th>
            <th>2014</th>
            @*Tỷ suất sinh lời*@
            <th class="fixwidth">Năm 2014 <br /> chưa chia</th>
            <th class="fixwidth">Năm 2015 <br /> kế hoạch</th>
            <th>Tổng cộng</th>
            @*Tiến độ thực hiện*@
            <th class="fixwidth">Kế hoạch <br /> doanh thu</th>
            <th class="fixwidth">Kế hoạch <br /> thực hiện</th>
            @*Thực hiện quyền*@
            @*<th></th>*@

        </tr>
        @{
            int rownumber =0 ;
            foreach (var item in Model)
            {
                rownumber +=1;
                 <tr>
                    <td>@rownumber</td>
                    <td><b>@item.Stock</b></td>
                    <td>@string.Format("{0,0:N0}", @item.Price)</td>            
                    <td>@item.DIV2010%</td>
                    <td>@item.DIV2011%</td>
                    <td>@item.DIV2012%</td>
                    <td>@item.DIV2013%</td>    
                    <td>@item.DIV2014%</td>           
                    <td class="fixwidth">@item.Nam2014ChuaChia% </td>
                    <td class="fixwidth">@item.Nam2015KeHoach%</td>
                    <td>@item.TongCong%</td>            
                    <td class="fixwidth">@item.DoanhThuKeHoach%</td>
                    <td class="fixwidth">10</td>            
                    <td> Ngày 26/7 GDKHQ chia cổ tức 2014 và tạm ứng cổ tức 2015</td>

                </tr>
            }
        }
       

       
    </table>
</div>
    
        @*<script type="text/javascript">
            $().ready(function () {
                $('#datetimepicker').datepicker({
                    dateFormat: 'dd/mm/yy',
                    buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                    buttonImageOnly: true,
                    showOn: 'both',
                    //minDate: "0"


                });
            });
        </script>*@




