@*@model IEnumerable<PhimHang.Models.RecommendStock>*@
@{
    ViewBag.Title = "Cổ tức lãi suất cao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PhimHang.Models.DIV>
@using PagedList.Mvc;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
<link href="~/css/tableStyle.css" rel="stylesheet" />
<link href="~/css/stylesheet.css" rel="stylesheet" />
<style>
    #menu-1 a {
        color: rgb(245, 131, 31);
    }
</style>
@*<div class="sum-row">
    <span>@Html.ActionLink("20", "", new { row = 20 })</span>
    <span>@Html.ActionLink("40", "", new { row = 40 })</span>
    <span>@Html.ActionLink("60", "", new { row = 60 })</span>
</div>*@
<div id="div-table">
    <table border=0 cellpadding=0 cellspacing=0 width=1248 style='border-collapse:
 collapse;width:938px'>
                
        <tr height=21 style='mso-height-source:userset;height:15.75pt'>
            
            <td rowspan=2 class=xl86 style='border-bottom:1px solid black'>Mã</td>
            <td rowspan=2 class=xl90 style='border-bottom:1px solid black'>
                <span style='mso-spacerun:yes'></span>Giá<span style='mso-spacerun:yes'> </span>
            </td>
            <td style="width:300px" colspan=5 class=xl88>L&#7883;ch s&#7917; c&#7893; t&#7913;c</td>
            <td style="width:250px" colspan=3 class=xl89>C&#7893; t&#7913;c ch&#432;a chia</td>
            <td style="width:140px" colspan=2 class=xl88>Th&#7921;c hi&#7879;n KH 2015</td>
            <td rowspan=2 class=xl90 style='border-bottom:1px solid black'>
                <span style='mso-spacerun:yes'></span>Ghi chú<span style='mso-spacerun:yes'></span>
            </td>
            
        </tr>
        <tr class=xl66 height=22 style='mso-height-source:userset;height:16.5pt'>
            
            <td class=xl84 style='border-top:none'>2010</td>
            <td class=xl84 style='border-top:none'>2011</td>
            <td class=xl84 style='border-top:none'>2012</td>
            <td class=xl84 style='border-top:none'>2013</td>
            <td class=xl84 style='border-top:none'>2014</td>
            <td class=xl85 style='border-top:none'>2014 còn l&#7841;i</td>
            <td class=xl85 style='border-top:none'>KH 2015</td>
            <td class=xl85 style='border-top:none'>DIY</td>
            <td class=xl84 style='border-top:none'>KH DT</td>
            <td class=xl84 style='border-top:none'>KH LN</td>
            
        </tr>
       @{
           int rownumber = 0;
           foreach (var item in Model)
           {
               rownumber += 1;
               <tr height=22 style='mso-height-source:userset;height:16.5pt'>
            
               
                @if (rownumber % 2 == 0) // mau dong chan, dong le
                {
                        <td class=xl73 style='border-top:none'>@item.Stock</td>
                        <td class=xl74 style='border-top:none'>
                            <span style='mso-spacerun:yes'>
                            </span>@string.Format("{0,0:N0}", @item.Price)
                        </td>
                        <td class=xl69 style='border-top:none'>@item.DIV2010%</td>
                        <td class=xl69 style='border-top:none'>@item.DIV2011%</td>
                        <td class=xl69 style='border-top:none'>@item.DIV2012%</td>
                        <td class=xl69 style='border-top:none'>@item.DIV2013%</td>
                        <td class=xl69 style='border-top:none'>@item.DIV2014%</td>
                        <td class=xl71 style='border-top:none'>@String.Format("{0:0.0#}",@item.Nam2014ChuaChia)% </td>
                        <td class=xl71 style='border-top:none'>@String.Format("{0:0.0#}",@item.Nam2015KeHoach)%</td>
                        <td class=xl71 style='border-top:none'>@String.Format("{0:0.0#}",  @item.TongCong)%</td>
                        <td class=xl69 style='border-top:none'>@String.Format("{0:0.0#}",@item.DoanhThuKeHoach)%</td>
                        <td class=xl69 style='border-top:none'>@String.Format("{0:0.0#}",@item.LoiNhuanKeHoach)%</td>
                    <td class=xl77 style='border-top:none'>@(!string.IsNullOrEmpty(@item.EventNote) ? PhimHang.Models.Helper.RemoveHtmlTag(@item.EventNote) : "")</td>
                }
                else
                {
                        <td class=xl73 style='border-top: none; background-color: white'>@item.Stock</td>
                            <td class=xl74 style='border-top: none; background-color: white'>
                                <span style='mso-spacerun:yes'>
                                </span>@string.Format("{0,0:N0}", @item.Price)
                        </td>
                        <td class=xl69 style='border-top:none; background-color:white'>@item.DIV2010%</td>
                        <td class=xl69 style='border-top: none; background-color: white'>@item.DIV2011%</td>
                        <td class=xl69 style='border-top: none; background-color: white'>@item.DIV2012%</td>
                        <td class=xl69 style='border-top: none; background-color: white'>@item.DIV2013%</td>
                        <td class=xl69 style='border-top: none; background-color: white'>@item.DIV2014%</td>
                        <td class=xl71 style='border-top: none; background-color: white'>@String.Format("{0:0.0#}",@item.Nam2014ChuaChia)% </td>
                        <td class=xl71 style='border-top: none; background-color: white'>@String.Format("{0:0.0#}",@item.Nam2015KeHoach)%</td>
                        <td class=xl71 style='border-top: none; background-color: white'>@String.Format("{0:0.0#}",  @item.TongCong)%</td>
                        <td class=xl69 style='border-top: none; background-color: white'>@String.Format("{0:0.0#}",@item.DoanhThuKeHoach)%</td>
                        <td class=xl69 style='border-top: none; background-color: white'>@String.Format("{0:0.0#}",@item.LoiNhuanKeHoach)%</td>
                        <td class=xl77 style='border-top: none; background-color: white'>@(!string.IsNullOrEmpty(@item.EventNote) ? PhimHang.Models.Helper.RemoveHtmlTag(@item.EventNote) : "")</td>
                }
               


                

            </tr>
           }

       }


    </table>
</div>

        @*<script type="text/javascript">
            $().ready(function () {
                $('#datetimepicker').datepicker({
                    dateFormat: 'dd/mm/yy',
                    buttonImage: '@Url.Content("~/Content/themes/calendar.gif")',
                    buttonImageOnly: true,
                    showOn: 'both',
                    //minDate: "0"


                });
            });
        </script>*@




